body {
    background-color: rgb(52, 52, 159);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(115, 115, 233);
    width: 400px;
    /* height: 500px; */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.head {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

input {
    border: 1px solid rgb(52, 52, 159);
    height: 27px;
    width: 340px;
    border-radius: 4px;
}
.label {
    color: rgba(255, 255, 255, 0.623);
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    height: 30px;
    width: 340px;
    margin-top: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(52, 52, 159);
    border-radius: 4px;
    border: none;
}
#output {
    
    /* ;
    background-color: ;
    margin-top: 30px;
    
    ; */
    background: rgb(104, 104, 200);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 5px;
    width: 310px;
    color: rgba(255, 255, 255, 0.623);
}
