.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
    width: 400px;
    height: 400px;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}