<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs intro</title>
</head>
<body>
    <h1>Hello EJS</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum temporibus ut rem a aut possimus quos ab vero inventore, excepturi magni dolor ratione reprehenderit vitae soluta culpa corporis voluptate distinctio?
    Illum iusto vero minus ut placeat consequatur voluptas? Natus sed nisi mollitia minus itaque libero aliquid quas animi eaque maxime! Consectetur omnis et qui? Suscipit nesciunt eum tempore possimus! Eum!
    Ex optio impedit sed ipsa natus excepturi veniam possimus quam iusto officiis, hic eaque modi quasi. Aut, dicta ipsum debitis provident quas, fugit, veritatis accusamus impedit repellendus repellat cumque numquam!</p>

    <button>Click Me</button>
</body>
</html>