<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interpolation in EJS</title>
</head>
<body>
    <h1>Hello EJS</h1>
    <h1> <%= 1+2 %> </h1>
    <h1> <%= ["Hello", "Bonjour", "Namaste"][0] %> </h1>
    <h1> <%= ("Hello Anurag").toUpperCase() %> </h1>
    <h1> <%- 1+2 %> </h1>
    
</body>
</html>