@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("Assets/bg.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);

}

div .box {
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 63px;
    align-items: center;
}

nav img {
    color: red;
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    gap: 15px;
    text-align: center;
    padding: 0 30px;
}

.hero > :nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 48px;
}
.hero > :nth-child(2) {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.hero > :nth-child(3) {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}


body {
    background-color: black;
}
.seperation {
    height: 7px;
    background-color: rgb(52, 52, 52);
}

.btn {
    font-family: "Poppins", sans-serif;
    padding: 3px 8px;
    font-weight: bold;
}
.btn-black {
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 5px 24px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(116, 111, 111, 0.5);
    background-color: rgba(26, 25, 25, 0.64);
    font-weight: 500;
}
.btn-red-sm {
    background-color: red;
    color: white;
    padding: 5px 24px;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
}
.btn-red {
    background-color: red;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
}

.main input {
    padding: 9px 91px 9px 9px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(116, 111, 111, 0.5);
    color: rgb(255, 255, 255);
    font-weight: 500;
}
::placeholder {
    color: rgb(222, 216, 216);
    font-family: "Poppins";
    
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.first {
    color: white;
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
}
.first > div :nth-child(1) {
    font-family: "poppins";
    font-weight: bolder;
    font-size: 24px;
}
.first > div :nth-child(2) {
    font-family: "poppins";
    font-size: 16px;
}