* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    height: 55vh;
    width: 25vw;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 60px
}
h1 {
    text-align: center;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(75, 75, 184);
}
label {
    display: block;
    font-size: 25px;
    font-weight: 600;
}
input {
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 5px;
}

::placeholder {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

