#container {
    height: 200px;
    width: 300px;
    background-color: white;
    margin: auto;
    position: relative;
}
#circle {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;  /*Now this element 'circle' will be placed according to its any first positioned ancestor (in this case div with container) */
    left: 100px;
    top: 50px;
}