<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form action="/posts" method="POST">
        <input type="text" placeholder="Enter username.." required name="username" style="margin-bottom: 1rem;">
        <br>
        <textarea name="content"></textarea>
        <br>
        <button>Submit Post</button>
    </form>
</body>
</html>