<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="post">
        <h3>Here is your post in detail..</h3>
        <h4>Post id: <%- post.id %></h4>
        <p class="username">@<%- post.username %></p>
        <p class="post-content" ><%- post.content %></p>
    </div>
</body>
</html>