body {
    font-size: 30px;
    background-color: black;
    color: white;
}
.container {
    display: grid;
    height: 80vh;
    width: 80vw;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.box {
    background-color: rgb(112, 112, 226);
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar {
    grid-row-start: 2;
    grid-row-end: 4;
}
.content1 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.footer {
    grid-column-start: 1;
    grid-column-end: 4;
}